@font-face {
  font-family: 'GESSTwoMedium-Medium';
  src: url('GESSTwoMedium-Medium.eot');
  src: url('GESSTwoMedium-Mediumd41d.eot?#iefix') format('embedded-opentype'),
       url('GESSTwoMedium-Medium.html') format('woff2'),
       url('GESSTwoMedium-Medium.woff') format('woff'),
       url('GESSTwoMedium-Medium.ttf') format('truetype'),
       url('GESSTwoMedium-Medium.svg#GESSTwoMedium-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

